<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Users Pending Verification</title>
</head>
<body>
<div layout:fragment="main-content">
    <h2>Users Pending Verification</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/admin/verify/{userId}(userId=${user.id})}" class="btn btn-success">Verify</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>