<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submission Confirmation</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <div class="alert alert-success" style="text-align: center; margin-top: 50px;">
        <h1>Submission Successful!</h1>
        <p>Your property is awaiting admin approval.</p>
        <a href="/estate/estates" class="btn btn-primary">Back to Property List</a>
    </div>
</div>
</body>
</html>